version: '3.1'
services:

  authorization-api-db:
    image: postgres:18
    networks:
      - hmpps
    container_name: authorization-api-db
    restart: always
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=admin_password
      - POSTGRES_USER=admin
      - POSTGRES_DB=authorization-api-db

networks:
  hmpps:
