server:
  port: 8089
  shutdown: immediate

audit:
  endpoint.url: http://localhost:8182

management.endpoint:
  health.cache.time-to-live: 0
  info.cache.time-to-live: 0

spring:
  datasource:
    url: 'jdbc:h2:mem:authorization-api-db;MODE=PostgreSQL'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true

  flyway:
    locations: classpath:db/auth,db/dev/data


hmpps-auth:
  endpoint:
    url: http://localhost:9090/auth
