---
# Per environment values which override defaults in hmpps-authorization-api/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: authorization-api-preprod.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    HMPPS_AUTH_ENDPOINT_URL: http://hmpps-auth.hmpps-auth-preprod.svc.cluster.local/auth
    HMPPS_AUTH_ISSUER_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth/issuer
    APPLICATION_AUTHENTICATION_MATCH_SUBDOMAINS: "false"

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps_tech_non_prod
