name: Deploy branch to stage

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build_image:
    name: Build docker image
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2
    with:
      docker_registry: 'ghcr.io'
      registry_org: 'ministryofjustice'
      push: true
      docker_multiplatform: true
      tag_latest: false
  deploy_env:
    name: Deploy to stage
    needs: build_image
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: stage
      app_version: ${{ needs.build_image.outputs.app_version }}
