name: Deploy branch to stage

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: write
jobs:
  create-artifact:
    name: Build the artifact for deployment to stage for testing
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/gradle_verify.yml@v2 # WORKFLOW_VERSION
    with:
      gradle-command: 'BUILD_NUMBER=stage ./gradlew assemble'
      upload-build-artifacts: true
      build-artifact-name: 'build-results'
      upload-test-artifacts: false
      java-version: "25"
  build_image:
    name: Build docker image
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2
    with:
      docker_registry: 'ghcr.io'
      registry_org: 'ministryofjustice'
      push: true
      docker_multiplatform: true
      tag_latest: false
      download_build_artifacts: true
  deploy_env:
    name: Deploy to stage
    needs: build_image
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: stage
      app_version: ${{ needs.build_image.outputs.app_version }}
